﻿
@{
    ViewBag.Title = "Usuarios";
}

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="~/Content/app/usuarios.css">

<div class="container" id="advanced-search-form" style=" margin-top:0px;">
    <h2>Crear Usuario</h2>
    <form>
        <div class="form-group" style="display:inline-block;">
            <label for="first-name">Patente</label>
            <input type="text" class="form-control" placeholder="Usuario" id="nombre">
        </div>
        <div class="form-group" style="display:inline-block">
            <label for="last-name">Rut</label>
            <input type="text" class="form-control" placeholder="Apellido" id="apellido">
        </div>
        <div class="form-group" style="display:inline-block">
            <label for="country">Fecha</label>
            <input type="date" class="form-control" id="correo">
        </div>

        <div class="form-group" style="display:inline-block">
            <label for="repclave">Tipo Infraccion</label>

            <select id="tipUser" class="form-control">
                <option>Exceso Velocidad</option>
                <option>Mal estacionado</option>
                <option>Pasar luz roja</option>

            </select>
        </div>
        <div class="form-group" style="display:inline-block">
            <label for="country">Observaciones</label>
            <input type="text" class="form-control" id="Observaciones">
        </div>
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-info btn-lg btn-responsive" id="crear"> <span class="glyphicon glyphicon-plus"></span> Crear</button>
    </form>
</div>
