﻿@{
    ViewBag.Title = "Inicio";

}
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/Content/app/login.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<div class="container h-80">
    <div class="row align-items-center h-100">
        <div class="col-3 mx-auto">
            <div class="text-center">
                <img id="profile-img" class="rounded-circle profile-img-card" src="https://i.imgur.com/6b6psnA.png" />
                <p id="profile-name" class="profile-name-card"></p>
                <form class="form-signin">


                    <input type="text" name="user" id="user" class="form-control form-group" placeholder="Usuario" required autofocus>
                    <input type="password" name="password" id="inputPassword" class="form-control form-group" placeholder="Clave" required autofocus>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" onclick="cambiar()"type="submit">Entrar</button>
                </form><!-- /form -->
            </div>
        </div>
    </div>
</div>
<script>
    function cambiar(){
        window.location.href = "home/listado";
    }
</script>