﻿
@{
    ViewBag.Title = "Listado";
}

<h2>Infracciones</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <td>N°</td>
            <td>Patente</td>
            <td>Estado</td>
            <td>Fecha</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>JSLK-98</td>
            <td>Impaga</td>
            <td>22-11-2020</td>
        </tr>
    </tbody>
    
</table>