﻿
@{
    ViewBag.Title = "Usuarios";
}

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="~/Content/app/usuarios.css">

<div class="container" id="advanced-search-form" style=" margin-top:0px;">
    <h2>Crear Usuario</h2>
    <form>
        <div class="form-group" style="display:inline-block;">
            <label for="first-name">Nombre</label>
            <input type="text" class="form-control" placeholder="Usuario" id="nombre">
        </div>
        <div class="form-group" style="display:inline-block">
            <label for="last-name">Apellido</label>
            <input type="text" class="form-control" placeholder="Apellido" id="apellido">
        </div>
        <div class="form-group" style="display:inline-block">
            <label for="country">Correo</label>
            <input type="email" class="form-control" placeholder="Correo@correo" id="correo">
        </div>
        <div class="form-group" style="display:inline-block">
            <label for="number">Nombre usuario</label>
            <input type="text" class="form-control" placeholder="Usuario" id="usuario">
        </div>
        <div class="form-group" style="display:inline-block">
            <label for="clave">Clave</label>
            <input type="password" class="form-control" placeholder="****" id="clave">
        </div>
        <div class="form-group" style="display:inline-block">
            <label for="repclave">Repetir Clave</label>
            <input type="password" class="form-control" placeholder="***" id="repclave">
        </div>
        <div class="form-group" style="display:inline-block">
            <label for="repclave">Tipo Usuario</label>

            <select id="tipUser" class="form-control">
                <option>Cliente</option>
                <option>Admin</option>
                <option>Digitador</option>

            </select>
        </div>
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-info btn-lg btn-responsive" id="crear"> <span class="glyphicon glyphicon-plus"></span> Crear</button>
    </form>
</div>
