﻿
@{
    ViewBag.Title = "Listado de Usuarios";
}

<h2>Usuarios</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <td>Nombre Usuario</td>
            <td>Tipo</td>
            <td>Estado</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>jcampos</td>
            <td>Admmin</td>
            <td>Activo</td>
            <td><button class="btn btn-primary">Editar</button></td>
            <td><button class="btn btn-primary">Eliminar</button></td>

        </tr>
    </tbody>
    
</table>