﻿html {
    background: url("background.jpg") no-repeat;
    background-size: cover;
    min-height: 100%;
}

body {
    background: none;
}

#advanced-search-form {
    background-color: #fff;
    max-width: 800px;
    margin: 160px auto 0;
    padding: 40px;
    color: #858b8e;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
}


    #advanced-search-form h2 {
        padding-bottom: 20px;
        margin: 10px 20px;
        font-size: 24px;
    }

    #advanced-search-form hr {
        margin-top: 38px;
        margin-bottom: 54px;
        margin-left: 3px;
        border: 1px solid #cccccc;
    }

    #advanced-search-form .form-group {
        margin-bottom: 20px;
        margin-left: 20px;
        width: 30%;
        float: left;
        text-align: left;
    }

    #advanced-search-form .form-control {
        padding: 12px 20px;
        height: auto;
        border-radius: 2px;
    }

    #advanced-search-form .radio-inline {
        margin-left: 10px;
        margin-right: 10px;
    }

    #advanced-search-form .gender {
        width: 30%;
        margin-top: 30px;
        padding-left: 20px padding-top: 5px;
        padding-bottom: 5px;
    }

    #advanced-search-form .btn {
        width: 46%;
        margin: 20px auto 0;
        display: block;
        outline: none;
    }

@media screen and (max-width: 800px) {
    #advanced-search-form .form-group {
        width: 45%;
    }

    #advanced-search-form {
        margin-top: 0;
    }
}

@media screen and (max-width: 560px) {
    #advanced-search-form .form-group {
        width: 100%;
        margin-left: 0;
    }

    #advanced-search-form h2 {
        text-align: center;
    }
}
